html body{
	margin : 0px;
	padding: 0px;

	width: 100%;
	height: 100%;
	min-height: 100%;

	background-color: 	#F8F8FF;

	overflow: scroll;
}

a {
	text-decoration: none;
	color : black;
}

/*--------------------------------------------------------*/

#top {
	margin: 0px;
	padding: 0px;
}

#logo {
	font-size: 50px;
	font-family: Segoe Script;

	float: left;

	margin-top : 0px;
	margin-bottom: 0px;

	padding-left: 10px;

	color: darkblue;

}
#topMini {
	height: 30px;
	border-bottom: 1px solid #00BFFF;
	background-color: #00BFFF;
}

#topMini a{
	float: right;
	letter-spacing: 1px;
	padding: 5px;
	margin-right: 5px;
	color: white;
}

#topMini #login_status {
	float: right;
	letter-spacing: 1px;
	padding: 5px;
	margin-right: 5px;
	color: white;
}

#topMini a:hover{
	color : darkblue;
}

#topBar {
	text-align: center;
	height: 40px;
	background-color: #F8F8FF;
	border-bottom: 1px solid skyblue;
}

#topBar ul {
	margin-right: 14%;
	margin-left: auto;
}

#topBar ul li{
	display: inline;
	text-decoration: none;
	text-align: center;
	margin-right: 20px;
}


#topBar ul li a{
	color:blue;
	padding: 15px;
	padding-right: 30px;
}

#topBar ul li a:hover{
	color:skyblue;
}

.top {
	width: 100%;
}

/*----------------------------------------------*/
#main {
	background-color: skyblue;

	margin:0px;

	height: 100%;
}

#leftFloat{
	float:left;
	left:0;
	position: fixed;

	margin-left:-20px;

	border-top:1px solid #006000;
	border-right: 1px solid #006000;
	border-bottom: 1px solid #006000;

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	background-color: #00FF80;
}

#leftFloat ul {
	margin:0px;
	margin-top: 10px;
	margin-right: 10px;
	list-style: none;
}

#leftFloat ul li{
	text-decoration: none;
	margin-bottom: 10px;
}

#leftFloat ul li a {
	color: #00a000;
	font-weight: bold;
	font-family: Freestyle Script;
	font-size : 24px;
}

#wrapper {
	margin-right: auto;
	margin-left: auto;

	padding-top: 10px;

	width: 80%;
	height: 100%;

	background-color: #F8F8FF;
}

#content {
	margin : 30px;

	border : 1px solid black;

	border-radius: 50px 50px 50px 50px;

	background-color: dodgerblue;
}

#coverImage {
	float: right;
}

#list_title {
	border-bottom: 1px solid black;
	border-top: 1px solid black;

	padding : 5px;

	margin-top: 50px;

	background-color: #F8F8FF;
}

#list_author {
	border-bottom: 1px solid black;

	padding : 5px;

	background-color: #F8F8FF;
}

#list_content {
	margin : 5px;

	height : 550px;
	width: 1018px;

	border-bottom: 1px solid black;

	background-color: #F8F8FF;
}

/*----------------------------------------------*/


#footer {
	position:fixed;
    bottom:0;
    width:100%;
    height: 17px;

    border-top: 1px solid gray;


   	padding: 0px;

   	text-align: center;

   	font-size: 12px;

   	background-color: white;
}