<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<meta http-equiv="Content"charset="utf-8">
	<title>Travel Anywhere</title>
	<link rel="stylesheet" type="text/css" href="jp_css.css">
	<base href="/html">
</head>
	<body>
		<div id="top" class="top">
				<a href="/"><p id="logo">TravelA</p></a>
			<div id="topMini" class="top">
				<%if(status == 1){%>
					<div id="login_status">
						<a href="/myinfo">MYINFO</a>
						<a href="/logout">LOGOUT</a>
					</div>
				<%} else {%>
					<a href="/login">Login</a>
					<a href="/register">Register</a>
				<% } %>
			</div>
			<div id="topBar" class="top">
				<ul>
					<li><a href="/menu/japan" class="menu">JAPAN</a></li>
					<li><a href="/menu/austrailia" class="menu">AUSTRAILIA</a></li>
					<li><a href="/menu/england" class="menu">ENGLAND</a></li>
					<li><a href="/menu/usa" class="menu">U.S.A</a></li>
					<li><a href="/menu/community">COMMUNITY</a></li>
				</ul>
			</div>
		</div>



		<div id="main">
			<div id="leftFloat">
				<ul>
					<li><a href="/japan" class="menu">JAPAN</a></li>
					<li><a href="/austrailia" class="menu">AUSTRAILIA</a></li>
					<li><a href="/england" class="menu">ENGLAND</a></li>
					<li><a href="/usa" class="menu">U.S.A</a></li>
					<li><a href="/community">COMMUNITY</a></li>
				</ul>
			</div>
			<div id="wrapper">
				
			</div>
		</div>


		<div id="footer">
				JeongSeongJin All Copyrights deserved
		</div>


	<script> 
		var windowHeight = window.innerHeight;
		var windowWidth = window.innerWidth;

		$(body).css("width",windowWidth);
		$("#wrapper").css("width",windowWidth*(8/10));

	</script>
	</body>
</html>